/* Anstatt die Google-Fonts in den HTML-Code zu schreiben, kann man sie auch hier via @import einfügen. ACHTUNG, bei kommerzieller Nutzung Fonds selbst hosten und nicht importieren */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* So kann man die Seite scrollbar machen, solang man noch keine weiteren Inhalte eingebaut hat */
.platzhalter {
  height: 50vh;
}

* {
  margin: 0;
  padding: 0;
}
/* Aus Lösung -> sowas nicht in * festlegen, sondern im body */
body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  /* !!! Aus Lösung: CSS-Variante anlegen für Farbe */
  --primary-color: #ff3030;
  --text-color: #d3d3d3;
  --background-color: #303030;
}

div.top {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/* Navigation */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  height: 5rem;
  gap: 1rem;
  font-size: 0.8rem;
  list-style: none; /* Entfernt die Aufzählungspunkte */
  flex: 0 0 auto; /* Hiermit nimmt die Nav nur so viel Platz von der vh ein, wie benötigt */
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  /* font-variant: all-small-caps; */
  /* Aus Lösung für Caps */
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  /* Bricht Wörter in Silben auf */
  overflow-wrap: break-word;
  hyphens: manual; /* im HTMl mit &shy; festgelegt */
  /* Ermöglicht mehrzeilige Links mit zentrierter Ausrichtung */
  display: inline-block;
  /* Aus Lösung: */
  transition: color 0.2s ease-in-out;
}

nav a:hover,
a:focus,
a:active {
  color: var(--primary-color);
}

/* Herosection */

.hero {
  /* 100vh heißt das 100% des Viewports genutzt werden  */
  height: 100vh;
  /* Alle Einstellungen für das Hintergrundbild */
  /*Gegoogelt--- linear-gradient nochmal genauer ansehen */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Alle Deklerationen für die Elemente */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Texte zentriert darstellen */
  text-align: center;
  flex: 1; /* Hero-Section nimmt den Rest der VH neben Nav ein */
}

.title {
  /* Aus Lösung: Stellt die Abstände ein (oben, rechts, unten, links) */
  margin: 0 0 1rem 0;
  font-family: "Lobster", cursive;
  /* Einheit rem ist relativ zur root-Schriftgröße (st. 16px) */
  font-size: 3rem;
  /* Aus Lösung: Verringert den Abstand zwischen zwei Zeilen */
  line-height: 3rem;
  color: #ffffff;
}

.subtitle {
  color: var(--text-color);
  margin-bottom: 4rem;
}
.button {
  display: inline-block; /* Damit das <a> wie ein Block wirkt */
  padding: 1rem 2rem; /* Innenabstand für einen typischen Button-Look */
  color: #ffffff; /* Textfarbe */
  background-color: var(--primary-color); /* Hintergrundfarbe */
  border: none; /* Kein Rand */
  border-radius: 0px; /* Für abgerundete Ecken */
  text-decoration: none; /* Unterstreichung entfernen */
  cursor: pointer; /* Zeigt an, dass es klickbar ist */
  /* Aus Lösung: */
  transition: all 0.2s ease-in-out; /* Sanfter Hover-Effekt */
  width: fit-content;
}

.button:hover {
  color: var(--primary-color); /* Textfarbe */
  background-color: transparent; /* Hintergrundfarbe */
  border: solid 1px var(--primary-color); /* Kein Rand */
  /* transition: background-color 0.3s ease; */
}
/* About Us */

/* Um die beiden Hauptspalten (links und rechts) nebeneinander darzustellen */
.container {
  display: flex; /* Flexbox zur Anordnung der Spalten */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 1.5rem;
  margin: 4rem auto;
  max-width: 80%;
}
/* Text-Bereich */
.about-content {
  display: flex;
  flex-direction: column; /* Elemente untereinander anordnen */
  gap: 1.5rem; /* Abstand zwischen Überschrift, Text und Button */
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;
  flex: 1; /* Nimmt genauso viel Platz wie die Bilder ein */
}

.heading {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  /* Unterstrich */
  border-bottom: var(--primary-color) solid 1px;
  width: fit-content;
  margin-top: 2rem;
}
/* Bilder */
.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Nimmt genauso viel Platz wie der Textbereich ein */
}

.image-grid {
  display: grid; /* Grid-Layout für Bilder */
  grid-template-rows: repeat(2, 1fr); /* Zwei Reihen */
  grid-template-columns: repeat(2, 1fr); /* Zwei Spalten */
  gap: 10px; /* Abstand zwischen den Bildern */
}

.image-grid img {
  width: 100%; /* Bilder passen sich der Zellenbreite an */
  height: auto; /* Füllt die Zelle */
  object-fit: cover; /* Schneidet Bild passend zu */
}

/* Hochformat-Bild nimmt beide Reihen in der linken Spalte ein */
.image-grid img:nth-child(1) {
  grid-column: 1 / 2; /* Nimmt erste Spalte ein */
  grid-row: 1 / 3; /* Überspannt zwei Reihen */
}

/* Öffnungszeiten  */

.info {
  height: fit-content;
  /* Alle Einstellungen für das Hintergrundbild */
  /*Gegoogelt--- linear-gradient nochmal genauer ansehen */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/info.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* Alle Deklerationen für die Elemente */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Texte zentriert darstellen */
  text-align: center;
  padding: 2rem;
}

.table {
  margin-top: 1.5rem;
  line-height: 1.5rem;
}

.table-left {
  width: 50%;
  text-align: left;
  color: var(--text-color);
}

.table-right {
  width: 50%;
  text-align: right;
}

/* Kontakt */

.contact-image {
  width: 100%;
  height: auto;
}

.contact-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.adress {
  line-height: 1.6rem;
  color: var(--text-color);
}

.contact-buttons {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1.2rem;
}

.button-reverse {
  display: inline-block; /* Damit das <a> wie ein Block wirkt */
  padding: 1rem 2rem; /* Innenabstand für einen typischen Button-Look */
  color: var(--primary-color); /* Textfarbe */
  background-color: transparent; /* Hintergrundfarbe */
  border: solid 1px var(--primary-color); /* Kein Rand */
  border-radius: 0px; /* Für abgerundete Ecken */
  text-decoration: none; /* Unterstreichung entfernen */
  cursor: pointer; /* Zeigt an, dass es klickbar ist */
  /* Aus Lösung: */
  transition: all 0.2s ease-in-out; /* Sanfter Hover-Effekt */
  width: fit-content;
}

.footer {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.copyright {
  font-size: 0.8rem;
  color: var(--text-color);
}

/* Tablet */
@media only screen and (min-width: 600px) {
  nav a {
    font-size: 1.1rem;
    padding: 0 1.2rem 0 1.2rem;
  }

  .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .button {
    padding: 1.5rem 2.5rem;
  }

  .contact-image {
    width: 60%;
  }

  .button-reverse {
    padding: 1.5rem 2.5rem;
  }
}
/* Laptop/Desktop */
@media only screen and (min-width: 1000px) {
  nav a {
    font-size: 1.2rem;
    padding: 0 1.5rem 0 1.5rem;
  }

  .title {
    font-size: 6rem;
    line-height: 6.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .container {
    flex-direction: row;
    max-width: 80%;
  }

  .heading {
    font-size: 2rem;
  }

  .table {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .contact-buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
